- unless tag.empty?
  %h2.label.label-primary
    #{tag}
    %a{href: '/'} x

- if posts.any?
  .posts
    %ul
      - posts.each do |post|
        %li
          %h3
            %a{href: "/blog/posts/#{post.created_at.strftime('%Y')}/#{post.created_at.strftime('%m')}/#{post.slug}"} #{post.title}
          %time{datetime: post.created_at} Опубликовано #{R18n.get.l(post.created_at, :human)}

          - if post.tag_list.count > 0
            .tags
              %ul
                - post.tag_list.each do |post_tag|
                  %li
                    %a{:class => ["label label-default #{'current' if !tag.empty? && tag == post_tag}"],
                    :href => "/blog/tag/#{post_tag}"}
                      = post_tag

          .preview
            != post.preview

          .clearfix
- else
  %p Здесь пока пусто.
