%a{:href => url('/blog/posts')} К списку

%div{:class => 'post', :data => {:id => post.id}}
  %h3 #{post}
  = time_tag post.created_at, "Опубликовано #{I18n.l(post.created_at, :format => :long)}"

  %div{:class => 'preview'}
    != post.preview
  %div{:class => 'clearfix'}
  %div{:class => 'content'}
    != post.content
  %div{:class => 'clearfix'}

  %div{:id => 'vk_comments'}