!!!
%html{lang: 'ru'}
  %head
    %title #{@title.to_s + ' — ' unless @title.nil?} Карим constXife Кьятлоттьяви
    %meta{name: 'keywords', content: 'blog constXife'}
    %meta{name: 'author', content: 'Karim Kiatlottiavi'}

    %link{href: 'https://fonts.googleapis.com/css?family=Scada', rel: 'stylesheet', type: 'text/css'}
    %link{href: 'https://fonts.googleapis.com/css?family=Milonga', rel: 'stylesheet', type: 'text/css'}
    %link{href: 'https://fonts.googleapis.com/css?family=Underdog&subset=cyrillic', rel: 'stylesheet', type: 'text/css'}
    = stylesheet 'https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', 'https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css', 'https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', 'darkula', 'application.css'
    -#= auto_discovery_link_tag :atom, posts_path(format: 'atom')
    -#= csrf_meta_tags
  %body
    #wrap
      .container
        %header
          %h1
            %a{href: '/'}
              constXife
          %h2 Обжигающе-холодные, мерцающие угольки

          %ul.nav

        #content
          != yield

        #push
    %footer
      .container
        .col-lg-4
          %a{href: 'mailto:constxife@yandex.ru', title: 'Связаться через e-mail'}
            %i.fa.fa-envelope.fa-lg
          %a{href: 'https://vk.com/tish.kiatlottiavi', title: 'VK'}
            %i.fa.fa-vk.fa-lg
          %a{href: 'https://twitter.com/constXife', title: 'Twitter'}
            %i.fa.fa-twitter.fa-lg
          %a{href: 'https://github.com/constXife', title: 'Github'}
            %i.fa.fa-github.fa-lg
        .col-lg-4 2013
        .col-lg-3.right
          -# %a{:href => "#{url('/blog/posts.atom')}", :title => 'RSS'}
          -#   %i{:class => ['fa', 'fa-rss', 'fa-lg']}
    = javascript 'https://vk.com/js/api/openapi.js?97', 'https://code.jquery.com/jquery-2.1.1.min.js', 'highlight.pack.js', 'application'