---
pageable: true
per_page: 10
---
<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<div class="articles-list row">
  <% page_articles.each_with_index do |article, i| %>
      <div class="article">
        <% if article.data.category %>
        <div class="category">
          <i class="fa fa-<%= article.data.category.icon %>"></i>
          <%= article.data.category.name %>
        </div>
        <% end %>
        <h5><a href="<%= url_for article %>" title="<%= article.title %>"><%= article.title %></a></h5>
        <hr>
        <div class="meta"><%= I18n.l(article.date, format: '%e %B, %Y') %></div>
        <% body = Nokogiri::HTML.parse(article.body).css('p').first.text %>
        <% if body %><p><%= body %></p><% end %>
      </div>
      </div>

    <!-- use article.summary(250) if you have Nokogiri available to show just
         the first 250 characters -->
  <% end %>
</div>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
